<section id="footer" class="footer">
     <div class="container">
         <div class="link-blocks">
             <div class="places" style="text-align:left;">
                 <a href="https://studevsoc.com/">Home</a>
                 <a href="https://studevsoc.com/about">About</a>
                 <a href="https://studevsoc.com/#contact">Contact</a>
                 <a href="https://studevsoc.com/coc/">Code of Conduct</a>
             </div>
             <div class="places" style="text-align:right">
                 <a href="https://studevsoc.com/">Home</a>
                 <a href="https://blog.studevsoc.com/">Blog</a>
                 <a href='https://studevsoc.gitlab.io/infra/status/'>Status</a>
             </div>
         </div>
         <div class="social" id="JoinUs">
             <ul>
                 <li><a href="https://www.meetup.com/StuDevSoc/"><i class="fab fa-meetup icon"></i></a></li>
                 <li><a href="https://twitter.com/studevsoc"><i class="fab fa-twitter icon"></i></a></li>
                 <li><a href="https://www.facebook.com/StuDevSoc"><i class="fab fa-facebook-square icon"></i></a></li>
                 <li><a href="https://www.linkedin.com/company/studevsoc/"><i class="fab fa-linkedin icon"></i></a></li>
                 <li><a href="https://gitlab.com/studevsoc"><i class="fab fa-gitlab icon"></i></a></li>
                 <li><a href="https://t.me/studevsoc"><i class="fab fa-telegram icon"></i></a></li>
                 <li><a href="https://www.instagram.com/studevsoc/"><i class="fab fa-instagram icon"></i></a></li>
             </ul>
         </div>
         <div class="made-with-love">
             <p>Made with ❤️. All original content is licensed under a free/libre copyleft license.</p>
         </div>
     </div>
 </section>
