<div class="sticky">
  <div class="header">
      <a class="img-link" href="https://studevsoc.com/">
          <img class="logo" src='{{ "img/logo.svg" | absURL}}' alt="a dev" />
      </a>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn" style="align-items:center;color: black;">
      <i class="fas fa-bars"></i>
    </label>

    <ul class="menu">
         {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{- end }}
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>
</div>
